<h1>Editing hall</h1>
<%= render 'form' %>
<%= link_to 'Home Page', halls_path %> |
<%= link_to 'Back', @hall %> |
<%= link_to "Delete", hall_path(@hall), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>