<%@order_items.each do |item| %>
  <h3> <%= item.ticket.id %></h3>
  <h3> <%= item.ticket.movie.price %></h3>
  <%= form_with model: item do |f| %>
    <% f.hidden_field :ticket_id,value: item.ticket.id %>
    <% f.number_field :quantity,value: item.quantity.to_i %>
    <% f.submit "Update Cart" %>
    <% link_to "Remove Items",item,method: :delete, remote: true %>
    <%end %>
  <h2> Subtotal: <%item.total %></h2>
<% end %>

<h3> Your Current Order has a total of <% current_order.subtotal %></h3>
