<div class="container bg-light">

  <div class="row main">
    <div class="col-md-8 movies-list">
      <% @movies.each do |movie| %>
  <div class="row movie-section border-bottom">
    <div class="col-md-4 movie-image">
    <!-- <%= image_tag(movie.blob.url ,:class=>"img-fluid") %> -->

    </div>

    <div class="col-md-8">
      <div class="row movie-title"> <%= movie.title%> </div>
      <div class="row d-flex movie-sessions">
        <ul>
        <% movie.screens.each do |screen| %>
            <%= link_to screen.screen_at&.strftime("%H:%m") , tickets_path(movie_id:movie.id,screen_id: screen.id),:class=>"p-2 bg-secondary text-white d-inline-block" %>
        <%end %>
        </ul>

      </div>

      </div>
    </div>
      <% end %>
    </div>
    <div class="col-med-4 filters">
    </div>
  </div>
</div>
</div>
</div>
