<div class="container bg-light">
<div class="row pt-lg-5">
  <div class="col-sm logo">
    <img src="" class="img-fluid" alt="...">
  </div>
  <div class="col login">
  <p> signin/signup</p>
  </div>

  <div class="row main">
    <div class="col-md-8 movies-list">
      <% @movies.each do |movie| %>
  <div class="row movie-section border-bottom">
    <div class="col-md-4 movie-image">
   <img class="img-fluid" src="images/logo.png">
    </div>
    <div class="col-md-8">
      <div class="row movie-title"> <%= movie.title%> </div>
      <div class="row movie-sessions">
        <% movie.screens.each do |screen| %>
        <span><%=screen.screen_at.strftime("%H:%m") %> </span>
        <%end %>
      </div>

      </div>
    </div>
      <% end %>
    </div>
    <div class="col-med-4 filters">
    </div>
  </div>
</div>
</div>
</div>
