



<h3> Buy Seats</h3>

<table>
  <thead>
  <tr>
  </tr>
  </thead>
  <tbody>
  <%(@screen.hall.seats).times do |i| %>

    <% if Seat.where(screen_id:params[:screen_id],seat_num:i+1).count >0 %>
    <td> <span class="btn btn-danger disabled" >  <%= "buy seat #{i+1}" %></span> </td>
<%else %>
      <td>  <%= link_to "buy seat #{i+1}", add_to_cart_path(seat_num:i+1), method: :post ,class: "btn btn-success" %>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="snirben@gmail.com">
        <input type="hidden" name="lc" value="US">
        <input type="hidden" name="item_name" value="Cinema Ticket">
        <input type="hidden" name="amount" value=<%= @screen.movie.price %>>
        <input type="hidden" name="currency_code" value="ILS">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
      </td>

  <%end %>
  <% end %>
  </tbody>
</table>